* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: $background-color;
}

section {
  scroll-margin-top: 80px;

  @include on-desktop {
    scroll-margin-top: 100px;
  }
}
