$tablet-min-width: 640px;
$desktop-min-width: 1024px;
$background-color: #ffeefc;
$main-text-color: #f9512e;
$link-color: rgba(255, 255, 255, 1);
$text-color: #1c1a26;
$grey-color: rgba(127, 128, 150, 1);
$disabled-button: #fba28f;
$focused-button: #b2341a;
$effectDuration: 0.3s ease;
